@font-face {
    font-family: sf-pro;
    src: url("../assets/fonts/sf-pro/SFPRODISPLAYREGULAR.OTF");
}
@font-face {
    font-family: philosopher;
    src: url("../assets/fonts/philosopher/Philosopher-Regular.ttf");
}

@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-secondary: #ffffff;
  --color-primary: #171415;
  --color-highlight: #D41B27;

  --font-body: sf-pro, sans-serif;
  --font-heading: philosopher, sans-serif;
}